#error-container h2 {
    margin-bottom:10px;
}

.wrap {
    position:relative;
    padding:25px;
    text-align:left;
    width:960px;
    margin:0 auto;
    z-index:500
}

.stack {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stack .sub {
    list-style: none;
    padding: 0px 0px 0px 20px
}

.stack .trace{border-bottom:solid 1px #cdcdcd;border-left:solid 1px #cdcdcd;border-right:solid 1px #cdcdcd}
.stack .trace.first{border-top:solid 1px #cdcdcd}
.stack .trace .title{padding:5px 8px;display:block;border-bottom:solid 1px #cdcdcd}

.codeBlock,.code{font: 1em 'Courier New', Courier, Fixed, monospace;padding:0}
.codeBlock .line{position:relative;display:block}
.codeBlock .line:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.codeBlock .line .num{position:absolute;padding:3px;width:49px;text-align:right}
.codeBlock .line .code{border-left:solid 55px #f0f0f0}
.codeBlock .line .code .border{padding:3px;border-left: solid 2px #cdcdcd}
.codeBlock .hl{color:#ff0000;background:#ffeded}
.codeBlock .hl .num{color:#6C0003}
.codeBlock .hl .code{border-left-color:#FFCECF}
.codeBlock .hl .code .border{border-left-color:#f59497}

.plain{font: 1em 'Courier New', Courier, Fixed, monospace;padding:8px}

.php-string{color:#DD0000}
.php-comment{color:#FF8800}
.php-keyword{color:#007700}
.php-default{color:#0000BB}
.php-html{color:#000}